p{
    font-size: large;
    font-style: italic;
}
p{
    color: darkblue;
}
body{
    color: grey;
    background: gold
}
.Header{
    font-style: italic;
    color: grey;
}
.subtitle{
    color: red;
}
.content{
    color: brown;
}
#img{
    float: center;
}
